/******* CSS for additional options ******/
.product_price_box {
  .label-price {
    margin-bottom: 15px;
  }
  .additional_options {
    .additional_option {
      select {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}

/******* Light Box Product ***************/
.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

.flowers-popup .thumb-product {
  display: inline-block;
  width: 325px;
}
.flowers-popup .thumb-product img {
  width: 400px;
}
.flowers-popup .title-product {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  padding: 50px 0 0 10px;
}
.flowers-popup .clear {
  clear: both;
}
.flowers-popup .container-data-desc {
  background-color: #71a5a3;
  color: #fff !important;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4em;
  line-height: normal;
  margin-top: 10px;
  padding: 10px;
  width: 100%;

  * {
    font-size: 0.65em;
  }
}
.container-data-desc p {
  color: #fff;
}
.flowers-popup .title-desc {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 1.0em;
  margin: 0;
}
.flowers-popup .name {
  font-family: 'Nunito', sans-serif;
  /*font-size: 2.7em;*/
  margin-bottom: 10px;
}
.flowers-popup .price {
  font-family: 'Nunito', sans-serif;
  /*font-size:1.7em;*/
}
.flowers-popup .price-popup {
  font-weight: normal;
  margin-top: 10px;
}
#listproduct .item.product form .additional_options .additional_option select {
  border: 2px solid #cdd7d9;
  border-radius: 5px;
  color: #77959f;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 5px 0 18px;
  padding: 7px 12px 9px;
  transition: all 0.3s ease-in 0s;
  max-width: 120px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .flowers-popup .thumb-product {
    width: 100%;
  }
  .flowers-popup .thumb-product {
    width: 100%;
  }
}
